Flask==3.0.3
beautifulsoup4==4.12.3
undetected-chromedriver==3.5.5
requests==2.32.3
gunicorn==23.0.0 
selenium==4.17.2
webdriver-manager==3.5.2
selenium-stealth==1.0.6 
fuzzywuzzy==0.18.0 
psycopg2==2.9.10
